
*{
    font-family: arial;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    position: relative;
    flex: 1;
    overflow: hidden;
}

.navbar{
    height: 80px;
    background-color: #ddd ;
}

#navbarNav{
    background-color: #ddd;
    margin: 0;
}

.form{
    margin-right: 16%;
}

.container-fluid{
    padding: 0;
}

.head{
    justify-content: left;
}
#right{
    padding: 0;
}

.main-title{
    margin-top: 120px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: 700;
}
.bandeau{
    padding: 2%;
    text-align: center;
}

#hr{
    background-color: #ff5c00!important;
}

#main-photo{
    height: auto;
    max-width: 100%;
    margin-bottom: 2%;
}

.main-para{
    font-size: 1.6em;
}

#left{
    padding: 0;
}
.mini_menu{
    display: none;
}

.menu{    
    display: flex;
    background-color: #4C4C4C;
    height: 100%;
    padding: 0;
    font-size: 1.6em;
    font-weight: 600;
    text-align: center;
    justify-content: center;
}

.menu li{
    max-width: 200px;
    list-style: none;
    margin-top: 15%;
    line-height: 2.2em;  
    color: whitesmoke; 
}

.liens{
    top: 20%;
    position: fixed;
}

.menu-img{
    height: 150px;
}


.menu li:hover{
    cursor: pointer;
    color: #FF823B ;
    background-color: #292E33;
    transition: 0.5s;
}

#liens{
    width: 23rem;
    height: 12rem;
}

#vid{
    margin-top: 2%;
    margin-bottom: 1%;
}

#sous-vid{
    margin-top: 5%;
    justify-content: space-around;
}

.section-1{
    margin-top: 1%;
    margin-bottom: 1%;
}

.section-2{
    margin-top: 4%;
}

.card{
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.44); 
    box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.44);
}

.card-body{
    margin-top: 5%;
    padding: 0;
    height: 6rem;
}

.card-title{
    color: black;
    text-decoration: none;
}

.genre{
    color: black;
}


/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    display: none; /* Hide columns by default */
  }
  
  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }
  .portfolioFilter button {
    margin: 2em 6px 2em 0;
    color: #666;
    text-decoration: none;
    border: 1px solid #ccc;
    padding: 4px 15px;
    border-radius: 50px;
    display: inline-block;
  }
  .portfolioFilter button.active {
    background: #1E2022;
    border: 1px solid #1E2022;
    color: #f9f9f9;
    box-shadow: none;
  }

@media only screen and (max-width: 1200px) {


    .menu{
        display: none;
    }

    .mini_menu{
        display: block;
        margin: 5% 0;
    }

    .liens{
        left: 2%;
    }

    .menu-img{
        width: 80%;
    }
       
    #dropdownMenuLink{
        color: black!important;
        background-color: white!important;
        border: solid 1px #FF823B!important;
        width: 20rem;
    }

    .dropdown{
        margin: 0 5% 2% 5%;
    }

    .dropdown-menu{
        width: 20rem;
    }

    .dropdown-item{
       text-align: center;
    }
}

@media only screen and (max-width: 992px) {

.liens{
    left: 2%;
}
   
    #list{
        text-align: center;
    }

    .form2{
        display: flex;
    }

    .menu-img{
        float: left;
        margin: 0;
        width: 70px;
        height: 70px;
    }


}
@media only screen and (max-width: 700px) {

.main-para{
    margin: 0 3% 0 3%;
    font-size: 14px;
}

}