
*{
    font-family: arial;
}

.navbar{
    height: 100px;
    background-color: #EEEEEE ;
}

#navbarNav{
    background-color: #EEEEEE;
    margin: 0;
}

.form{
    margin-right: 16%;
}

.container-fluid{
    padding: 0;
}

.head{
    justify-content: left;
}
#right{
    padding: 0;
}

.main-title{
    margin-top: 120px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: 700;
}
.bandeau{
    padding: 2%;
    text-align: center;
}

#hr{
    background-color: #ff5c00!important;
}

#main-photo{
    height: auto;
    max-width: 100%;
    margin-bottom: 2%;
}

.main-para{
    font-size: 1.6em;
}

#left{
    padding: 0;
}
.mini_menu{
    display: none;
}

.menu{    
    display: flex;
    background-color: #4C4C4C;
    height: 100%;
    padding: 0;
    padding-top: 50%;
    font-size: 1.6em;
    font-weight: 600;
    text-align: center;
    justify-content: center;
}

.menu li{
    max-width: 200px;
    list-style: none;
    margin-top: 15%;
    line-height: 2.2em;  
    color: whitesmoke; 
}

.liens{
    top: 35%;
    position: fixed;
}

.menu-img{
    height: 150px;
}


.menu li:hover{
    cursor: pointer;
    color: #FF823B ;
    background-color: #292E33;
    transition: 0.5s;
}

#liens{
    width: 20rem;
}

#vid{
    margin-top: 2%;
    margin-bottom: 1%;
}

#sous-vid{
    justify-content: space-around;
}

.section-1{
    margin-top: 1%;
    margin-bottom: 1%;
}

.section-2{
    margin-top: 4%;
}

.card{
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.44); 
    box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.44);
}

@media only screen and (max-width: 1250px) {

    .menu{
        font-size: 1.2em;
    }

    .liens{
        left: 2%;
    }

    .menu-img{
        width: 80%;
    }
}

@media only screen and (max-width: 960px) {

.liens{
    left: 2%;
}

    .menu{
        display: none;
    }

    .mini_menu{
        display: block;
        margin: 5% 0;
    }
    
    #list{
        text-align: center;
    }
    
    #dropdownMenuLink{
        color: white!important;
    }
    
    .dropdown{
        margin: 0 5% 2% 0;
    }

    .form2{
        display: flex;
    }

    .menu-img{
        float: left;
        margin: 0;
        width: 70px;
        height: 70px;
    }


}
@media only screen and (max-width: 700px) {

.main-para{
    margin: 0 3% 0 3%;
    font-size: 14px;
}

}