* {
  margin: 0;
  padding: 0;
}
.sitecontent {
  margin-top: 20em;
}
/* css pour la vidéo */
.lecteur_frame /* cadre du lecteur*/{
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  border: 0.2em solid #4c4c4c;
  background-color: #4c4c4c;
  z-index: 10;
  overflow: hidden;
}
video {
  width: 100%;
  height: auto;
  flex: 1 1 auto;
  z-index: 5;
}
/* css de la barre de progression */
#progressBarControl {
    width: 100%;
    height: 0.5em;
    border: 1px solid #aaa;
    border-radius: 2px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    display: inline-block;
}
#progressBar {
    width: 0px;
    background: #ff9900;
    height: 1.2em;
    text-align: right;
    font-size: 9px;
    white-space: nowrap;
    cursor: pointer;
}
.barre /* div qui contient tous les contrôles de la vidéo*/ {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4c4c4c;
  opacity: 0.7;
}
/* css des contrôles de la vidéo */
.control {
  background-color: transparent;
  border: none;
}
.controls-L {
padding-left: 0;
}
.fa-play-circle /*bouton play*/{
  color: #ff9900;
}
.fa-pause-circle /*bouton pause*/{
  color: #ff9900;
}
.fa-stop-circle /*bouton stop*/{
  color: #ff9900;
}
/* css de la partie volume */
.volume {
  vertical-align: center;
  display: inline-block;
  height: 25px;
  white-space: nowrap;
  position: relative;
  width: 45px;
}
.volume a {
  display: inline-block;
  background: #ff9900;
  width: 7px;
  vertical-align: bottom;
  margin-left: 0px;
  margin-right: 0px;
  cursor: pointer;
  border-left: 1px solid #fff;
  position: absolute;
  bottom: 0;
}
/* css des différents sticks du volume */
.stick1 /*pas de son*/{
  height: 5px;
  left: 0;
}
.stick2 {
  height: 10px;
  left: 9px;
}
.stick3 {
  height: 15px;
  left: 18px;
}
.stick4 {
  height: 20px;
  left: 27px;
}
.stick5 /*volume max*/ {
  height: 25px;
  left: 36px;
}
.stick1:hover, .stick2:hover, .stick3:hover, .stick4:hover, .stick5:hover{
  background-color: #fff;
}
/* css du bouton plein écran */

#grdecran{
  padding-right: 10px;
}

.fa-compress {
  color: #fff;
}
