body{
  margin: 0;
  padding: 0;
	}
	.contactform{
    margin-top: 13em;
		padding: 4%;
		height: 400px;
	}
	.col-md-3{
		background: #ff9700;
		padding: 4%;
		border-top-left-radius: 0.5rem;
		border-bottom-left-radius: 0.5rem;
    border: 0.1em solid #000;
    border-right: none;
	}
	.contact-info{
		margin-top:10%;
	}
	.contact-info img{
		margin-bottom: 15%;
	}
	.contact-info h2{
		margin-bottom: 10%;
	}
	.col-md-9{
		background: #fff;
		padding: 3%;
		border-top-right-radius: 0.5rem;
		border-bottom-right-radius: 0.5rem;
    border: 0.1em solid #000;
    border-left: none;
	}
	.contact-form label{
		font-weight:600;
	}
	.contact-form button{
		background: #ff9700;
		color: #000;
		font-weight: 600;
		width: 25%;
	}
	.contact-form button:focus{
		box-shadow:none;
	}
